@tailwind base;
@tailwind components;
@tailwind utilities;


/* Infinite Scrolling Animation */
.animate-scroll {
    display: flex;
    animation: scroll-left 40s linear infinite;
  }
  
  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }